/*
┏━━━┓ ┏━━━┓ ┏━━━┓ ┏━━━┓ ┏━━━━┓
┗┓┏┓┃ ┃┏━━┛ ┃┏━┓┃ ┃┏━┓┃ ┃┏┓┏┓┃
 ┃┃┃┃ ┃┗━━┓ ┃┗━┛┃ ┃┃ ┃┃ ┗┛┃┃┗┛
 ┃┃┃┃ ┃┏━━┛ ┃┏━━┛ ┃┃ ┃┃   ┃┃
┏┛┗┛┃ ┃┗━━┓ ┃┃    ┃┗━┛┃   ┃┃
┗━━━┛ ┗━━━┛ ┗┛    ┗━━━┛   ┗┛
----------------------------------------
COMPONENT SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://designsystem.digital.gov/design-tokens
----------------------------------------
*/


// Header
$theme-header-max-width: "widescreen";
$theme-header-min-width: "desktop";
