@import 'dam-media-image.css';
​
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.media__font {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.media__font span {font-weight: bold;}

.media__tax__field__label span {
  font-size: 100%;
  font-weight: bold;
}

.media__name {font-size: 2em; margin: 0;}

.media__type {font-style: italic; color: grey;}

.media__date {font-style: italic; color: grey;}

.layout--twocol-section{flex-wrap: nowrap;}

.layout--onecol{padding-left: 10px;}
